# Copy to .env and fill values
PORT=3000
MONGO_URI="mongodb+srv://shayanpsd321_db_user:shayan13789@comp3133-chat.x1irert.mongodb.net/comp3133_labtest1_chat?retryWrites=true&w=majority&appName=comp3133-chat"

JWT_SECRET=2bc446f1df0cac2529c4aebc2f5a09c54534654788eb42dbd47cbe6aecfc6b6a

# JWT (optional but enabled by default)
AUTH_REQUIRED=true
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=2h

# Cloudinary (required for Add/Update employee photo upload)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=comp3133_employee_photos
